body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: whitesmoke;
}

a {
  text-decoration: none;
  color: inherit;
}

.navbar {
  padding: 0.8rem 1rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 3px lightgray;
  font-size: 1.2rem;
}

.navItems {
  display: flex;
  gap: 1.5rem;
}

.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
